/* 6. MobileMenu.module.css*/
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}

.menu {
  background: var(--bg-primary);
  padding: var(--spacing-lg);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  min-width: 80%;
}